# Dependencies
node_modules/

# Hardhat
cache/
artifacts/
typechain-types/

# Ignition deployments
ignition/deployments/

# Coverage
coverage/
coverage.json

# Next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# Production
/build

# Environment
.env
.env.local
.env*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test artifacts
.nyc_output/

# Vercel
.vercel
